body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(-50deg, #9c9090, #5b6f77, #62757d, #dbe4e4);
    color: black;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: white;
}

#quiz-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); 
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.answer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

label {
    font-weight: bold;
}

#submit-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    border-radius: 50px; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
}

#submit-btn:hover {
    background-color: rgb(46, 50, 50);
    color: #fff;
}

#result {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
}
